* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calc-container {
  border: 3px solid;
  height: 75vh;
  aspect-ratio: 11/16;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}

.screen, 
.buttons{
  border: 1px solid;
}

.screen {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.expression {
  text-align: right;
  flex: 1;
}

.current-value {
  text-align: right;
  flex: 2;
}

.buttons {
  flex: 3;
  display: flex;
  flex-direction: column;
}

.row1,
.row2,
.row3,
.row4,
.row5 {
  display: flex;
  flex: 1;
}

button {
  flex: 1;
}

#zero-button {
  flex: 2;
}